<div id="content">
	<div id="status">
		<div class="StatusElement StatusLeft">
			<div id="game_timer">60</div>
		</div>
		<div class="StatusElement StatusMiddle">
			<div id="game_status">Join Now</div>
		</div>
		<div class="StatusElement StatusRight">
			<div id="connection_status">Connected</div>
		</div>
	</div>
	<div id="main">
		<div id="message">
			<div id="centered_message">
				<span id="message_text">Open the app and select "Join Game" to get started</span>
			</div>
		</div>
	</div>
	<div id="console" class="Console">
		<p id="console_message" class="ConsoleMessage"></p>
	</div>
	<div id="player1" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player2" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player3" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player4" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player5" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player6" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player7" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="player8" class="PlayerCard" style="display: none;">
		<div class="NameContainer">
			<p class="Name"></p>
		</div>
		<div class="ScoreContainer">
			<p class="Score"></p>
		</div>
		<div class="PlayerStatusContainer">
			<p class="PlayerStatus"></p>
		</div>
	</div>
	<div id="footer">
		<p>Get the app now from Google Play and iTunes, just search "DrunkCast"</p>
	</div>
</div>
